<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="q2.css"/>
</head>

<body>

    <h2>Hover on the Image to see the Buttons</h2>
    <div class="show-image">
        <img src="http://taditdash.files.wordpress.com/2014/01/tadit-dash.jpg" />
        <input class="update" type="button" value="Update" />
        <input class="delete" type="button" value="Delete" />
    </div>

</body>

</html>